<div class="page">
    <div class="title">
        <div class="title-h1">
            <h1>
                Welcome To Photo Gallery App
            </h1>
        </div>
        <div class="subtitle">
            <h2>
                Create an account or login
            </h2>
        </div>

    </div>
    <div class="center">
        <button mat-raised-button color="primary" class="button" (click)="clickOnRegister()">Register</button>
        <button mat-raised-button color="primary" class="button" (click)="clickOnLogin()">Login</button>
    </div>
</div>